ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:red;
    font-family: 'chelsea market';
  }
li a {
    float: left;
  }
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
}
li a:hover {
    background-color: green;
}
.active {
      background-color: white;
  }
h1 {
  text-align: center;
  color: rgb(170, 34, 0);
  font-family: 'chelsea market';
}
body {
  background-image: url('storm.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
img {
  width: 500px;
  height: 400px;
  align-items: center;
  display: inline-block;
}
h3 {
  text-align: left;
  font-family: 'chelsea market';
  color: darkred;
}
p {
  text-align: left;
  font-family: 'chelsea market';
  color: red;
}
h4 {
  text-align: left;
  font-family: 'chelsea market';
  color: red;
  font-style: italic;
}
ol {

  list-style-type: none;
  padding-left: 30px;
  font-family: 'chelsea market';
  color: red;
}
.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: seashell;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 15px;
  font-size: 20px;
  text-align: center;
  font-family: 'chelsea market';
}
footer {
  text-align: center;
}