h1 {
    color: darkgreen;
}
h1,h2 {
    font-family: Georgia;
    text-align: center;
}
p {
    font-size: 25px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
div6 {
    text-transform: uppercase;
}
img {
    float: left;
}    
img {
    margin-right: 20px;
}
