
#box {
    background-color: #F5C6D6;
    height: 100px;
    width: 628px;
    margin: 5px;
    border-left: 0px;
}
#box2 {
    display: inline-block;
    background-color: #EE2E84;
    Height: 100px;
    width: 150px;
    margin: 3px;
}
#box3 {
    display: inline-block;
    background-color: #EE2E84;
    Height: 100px;
    width: 150px;
    margin: 3px;
}
#box4 {
    display: inline-block;
    background-color: #EE2E84;
    Height: 100px;
    width: 150px;
    margin: 3px;
}
#box5 {
    display: inline-block;
    background-color: #EE2E84;
    Height: 100px;
    width: 150px;
    margin: 3px;
}
#box6 {
    display: inline-block;
    background-color: #85CFD8;
    height: 100px;
    width: 310px;
    margin: 3px;
}
#box7 {
    display: inline-block;
    background-color: #85CFD8;
    height: 100px;
    width: 310px;
    margin: 3px;
}
#box8 {
    display: inline-block;
    background-color: #8DC63F;
    height: 100px;
    width: 470px;
    margin: 5px;
}
#box9 {
    display: inline-block;
    background-color: #E76E34;
    height: 100px;
    width: 144px;
    margin: 5px;
}
@media (max-width: 768px) {
#box {
    background-color: #F5C6D6;
    height: 40px;
    width: 600px;
    margin: 0px;  
    border-color: white;
    border-bottom: 5px;
    border-width: 2px;
}
#box2 {
    background-color: #EE2E84;
    height: 40px;
    width: 600px;
    margin: 0px;     
}
#box3 {
    background-color: #EE2E84;
    height: 40px;
    width: 600px;
    margin: 0px; 
}
#box4 {
    background-color: #EE2E84;
    height: 40px;
    width: 600px;
    margin: 0px; 
}
#box5 {
    background-color: #EE2E84;
    height: 40px;
    width: 600px;
    margin: 0px;  
}
#box6 {
    background-color: #85CFD8;
    height: 40px;
    width: 600px;
    margin: 0px;  
}
#box7 {
    background-color: #85CFD8;
    height: 40px;
    width: 600px;
    margin: 0px;  
}
#box8 {
    background-color: #8DC63F;
    height: 40px;
    width: 600px;
    margin: 0px;  
}
#box9 {
    background-color: #E76E34;
    height: 40px;
    width: 600px;
    margin: 0px;  
}
}
